*{
    box-sizing: border-box;
}
  
  body {
    font-family: 'Poppins', sans-serif;
    background-color: #009fc7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .header h2 {
    margin-bottom: 20px;
    font-weight: 600;
  }
  
  .form-control {
    margin-bottom: 15px;
    position: relative;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .form-control input,
  .form-control select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .form-control.success input,
  .form-control.success select {
    border-color: #2ecc71;
  }
  
  .form-control.error input,
  .form-control.error select {
    border-color: #e74c3c;
  }
  
  .form-control small {
    color: #e74c3c;
    position: absolute;
    bottom: -18px;
    left: 0;
    visibility: visible;
    font-size: 12px;
  }
  
  .form-control.success small {
    color: #2ecc71;
    visibility: hidden;
  }
  
  .hidden {
    display: none;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #ff3434;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #2980b9;
  }